In [100]:
import numpy as np
import pandas as pd
import csv
import ast

from urllib.request import urlretrieve

In [11]:
#urlretrieve("https://www.kaggle.com/PromptCloudHQ/londonbased-restaurants-reviews-on-tripadvisor/data" , "tripadvisor_co_uk-travel_restaurant_reviews_sample.csv")
#data = pd.read_csv("tripadvisor_co_uk-travel_restaurant_reviews_sample.csv") #read the file and store into 'data'
#print(data)

In [122]:
data = pd.read_csv('tripadvisor_co_uk-travel_restaurant_reviews_sample.csv',dtype={"rating": str,"food": str,"value": str,"service":str}) #read the file and store into 'data'
print(data.shape)
print(data.ndim)

(19998, 17)
2

In [128]:
#Creating a data matrix of the restaurants
londdf=data


#Clearing other data that are not useful for our data later.
londdf=londdf.loc[:, ['name','rating','food','value','service']]
print(londdf.dtypes)

#Replace the empty spaces in the data with nan then remove nan
londdf['rating']=londdf['rating'].map({'5 of 5 bubbles':5,'4 of 5 bubbles':4,\
                                       '3 of 5 bubbles':3,'2 of 5 bubbles':2,'1 of 5 bubbles':1})


#londdf['rating'].apply(lambda x:str(x))
#londdf['rating'].replace('5 of 5 bubbles', int(1))
#londdf = londdf.dropna(subset=['food'])
#print(londdf.shape)
print(londdf)

#Selecting reviews that are substantial for the data later on
#parisdf=parisdf[(parisdf['Number of Reviews'])>25]
#print(parisdf.shape)
#Clearing other data that are not useful for our data later.
#parisdf=parisdf.loc[:, ['Name','City','Rating','Number of Reviews']]
#print(parisdf.shape)

name       object
rating     object
food       object
value      object
service    object
dtype: object
                                   name  rating            food  \
0                   Balans Soho Society     5.0             NaN
1                          Duke of York     3.0  3 of 5 bubbles
2                      Dawat Restaurant     4.0             NaN
3         Gourmet Burger Kitchen Ealing     4.0  4 of 5 bubbles
4                                 Lingo     4.0  4 of 5 bubbles
5                              Tonkotsu     4.0  4 of 5 bubbles
6                Dirty Martini Monument     2.0             NaN
7                              Tonkotsu     1.0  1 of 5 bubbles
8               The Boundary Restaurant     5.0             NaN
9         Gourmet Burger Kitchen Ealing     4.0             NaN
10                          Uncle Nam's     4.0             NaN
11                  Balans Soho Society     3.0  3 of 5 bubbles
12                         Maramia Cafe     2.0             NaN
13                    Le Pain Quotidien     1.0  1 of 5 bubbles
14                     Amigos Peri Peri     5.0             NaN
15                  Balans Soho Society     3.0             NaN
16                             Tonkotsu     3.0  3 of 5 bubbles
17                            The House     4.0  4 of 5 bubbles
18                          Ponte Nuovo     5.0  5 of 5 bubbles
19                             Tonkotsu     2.0             NaN
20                             Tonkotsu     5.0             NaN
21        Gourmet Burger Kitchen Ealing     3.0             NaN
22                             Tonkotsu     2.0  2 of 5 bubbles
23              The Boundary Restaurant     5.0             NaN
24                                  Yas     5.0             NaN
25                    Bill's Restaurant     2.0  1 of 5 bubbles
26              The Boundary Restaurant     5.0             NaN
27                     The Escapologist     5.0             NaN
28              The Boundary Restaurant     2.0             NaN
29                      The Curious Pig     4.0             NaN
...                                 ...     ...             ...
19968             Mattarello Restaurant     4.0             NaN
19969                     The Pig's Ear     5.0             NaN
19970                  Launceston Place     5.0             NaN
19971      Galvin at Windows Restaurant     4.0  5 of 5 bubbles
19972     Alyn Williams at the Westbury     4.0             NaN
19973                           The Ivy     5.0  5 of 5 bubbles
19974                     Cafe Mexicali     2.0             NaN
19975             Honest Burgers - Soho     5.0             NaN
19976                        Chez Elles     5.0             NaN
19977              Delicatessen Yoshino     3.0  3 of 5 bubbles
19978               San Carlo Cicchetti     3.0  5 of 5 bubbles
19979  Brasserie Blanc Charlotte Street     4.0  5 of 5 bubbles
19980                         Satay Bar     5.0             NaN
19981                Retsina Restaurant     5.0  5 of 5 bubbles
19982                   Taberna Etrusca     3.0  3 of 5 bubbles
19983                              NOPI     5.0  5 of 5 bubbles
19984                      Regency Cafe     5.0             NaN
19985          Fiddieâ€™s Italian Kitchen     5.0  5 of 5 bubbles
19986                          Zaibatsu     5.0             NaN
19987          Albina restaurant london     5.0             NaN
19988        Randall & Aubin Restaurant     5.0             NaN
19989                         Kobo Cafe     5.0             NaN
19990                          Bar Remo     5.0             NaN
19991           Flat Iron Covent Garden     5.0             NaN
19992        Cafe Rouge - Hays Galleria     4.0  5 of 5 bubbles
19993                Banana Tree - Soho     1.0             NaN
19994      Afternoon Tea at One Aldwych     4.0  5 of 5 bubbles
19995                   Jamie's Italian     5.0  5 of 5 bubbles
19996                   Jamie's Italian     2.0  2 of 5 bubbles
19997                   Jamie's Italian     3.0  3 of 5 bubbles

                value         service
0                 NaN             NaN
1      4 of 5 bubbles  3 of 5 bubbles
2                 NaN             NaN
3      4 of 5 bubbles  4 of 5 bubbles
4      4 of 5 bubbles  5 of 5 bubbles
5      4 of 5 bubbles  2 of 5 bubbles
6                 NaN             NaN
7      1 of 5 bubbles  2 of 5 bubbles
8                 NaN             NaN
9                 NaN             NaN
10                NaN             NaN
11     3 of 5 bubbles  4 of 5 bubbles
12                NaN             NaN
13     1 of 5 bubbles  1 of 5 bubbles
14                NaN             NaN
15                NaN             NaN
16     3 of 5 bubbles  4 of 5 bubbles
17     4 of 5 bubbles  5 of 5 bubbles
18     5 of 5 bubbles  5 of 5 bubbles
19                NaN             NaN
20                NaN             NaN
21                NaN             NaN
22     3 of 5 bubbles  5 of 5 bubbles
23                NaN             NaN
24                NaN             NaN
25     2 of 5 bubbles  2 of 5 bubbles
26                NaN             NaN
27     5 of 5 bubbles  5 of 5 bubbles
28                NaN             NaN
29                NaN             NaN
...               ...             ...
19968             NaN             NaN
19969             NaN             NaN
19970             NaN             NaN
19971  4 of 5 bubbles  5 of 5 bubbles
19972             NaN             NaN
19973  5 of 5 bubbles  5 of 5 bubbles
19974             NaN             NaN
19975             NaN             NaN
19976             NaN             NaN
19977  3 of 5 bubbles  3 of 5 bubbles
19978  3 of 5 bubbles  4 of 5 bubbles
19979  4 of 5 bubbles  5 of 5 bubbles
19980             NaN             NaN
19981  5 of 5 bubbles  5 of 5 bubbles
19982  3 of 5 bubbles  4 of 5 bubbles
19983  5 of 5 bubbles  5 of 5 bubbles
19984             NaN             NaN
19985  5 of 5 bubbles  5 of 5 bubbles
19986             NaN             NaN
19987             NaN             NaN
19988             NaN             NaN
19989             NaN             NaN
19990             NaN             NaN
19991             NaN             NaN
19992  4 of 5 bubbles  5 of 5 bubbles
19993             NaN             NaN
19994  4 of 5 bubbles  5 of 5 bubbles
19995  5 of 5 bubbles  5 of 5 bubbles
19996  2 of 5 bubbles  3 of 5 bubbles
19997  3 of 5 bubbles  3 of 5 bubbles

[19998 rows x 5 columns]

In [3]:
# Restaurants in Paris
data = pd.read_csv("TA_restaurants_curated.csv") #read the file and store into 'data'
print(data.shape)

(125527, 11)

In [6]:
#Creating a data matrix of Paris


#Filter out the results which the city starts with Paris
parisdf=data[data.City.str.startswith('Paris')] 
print(parisdf.shape)
#Replace the empty spaces in the data with nan then remove nan
parisdf['Number of Reviews'].replace('', np.nan)
parisdf['Rating'].replace('', np.nan)
parisdf = parisdf[np.isfinite(parisdf['Number of Reviews'])]
parisdf = parisdf[np.isfinite(parisdf['Rating'])]
print(parisdf.shape)
#Selecting reviews that are substantial for the data later on
parisdf=parisdf[(parisdf['Number of Reviews'])>25]
print(parisdf.shape)
#Clearing other data that are not useful for our data later.
parisdf=parisdf.loc[:, ['Name','City','Rating','Number of Reviews']]
print(parisdf.shape)

#parisdf.to_csv('out.csv', index=False, header=False)

(14874, 11)
(13280, 11)
(8057, 11)
(8057, 4)